In [7]:
import pandas

df = pandas.read_csv("./Library_Usage.csv")

# Tutorial - Datensätze filtern

Letzte Woche haben wir gesehen, wie einzelne Spalten eines Datensatzes ausgewählt und einer neuen Variablen zugeordnet werden können:

In [10]:
checkouts = df['Total Checkouts']

Um nur Beobachtungen mit mehr als *10000* Ausleihen zu betrachten, können wir den Datensatz filtern:

In [32]:
many_checkouts = checkouts > 10000
df[many_checkouts]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
558,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
807,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
3204,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
18794,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31133,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
40317,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
56744,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
85869,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117440,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
119722,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
130413,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138408,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
144073,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
147572,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156043,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163107,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
181176,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
199745,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
215851,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222814,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
230087,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
232208,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237095,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
252431,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278350,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
287496,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290583,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293564,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
294771,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
329661,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
403923,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

> - `many_checkouts` enthält ein Objekt vom Typ `pandas.Series`. Die Werte sind `True`, wenn der entsprechende Wert in `checkouts` größer *500* ist. Die Werte sind `False`, wenn der entsprechende Wert in `checkouts` kleinergleich *500* ist. Diese Art von `pandas.Series` nennt man auch `boolean array` (logische Liste/ Reihe). 
- Setze man einen `boolean array` ein, um einen `dataframe` zu filtern, dann werden nur die Zeilen zurückgegeben, bei denen der array `True` ist.

Die Befehle lassen sich auch ohne Hilfe der Variablen schreiben:

In [33]:
df[checkouts > 10000]
# or
df[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
558,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
807,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
3204,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
18794,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31133,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
40317,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
56744,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
85869,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117440,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
119722,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
130413,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138408,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
144073,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
147572,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156043,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163107,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
181176,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
199745,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
215851,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222814,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
230087,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
232208,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237095,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
252431,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278350,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
287496,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290583,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293564,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
294771,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
329661,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
403923,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

Der gefilterte Datensatz lässt sich natürlich auch wieder einer neuen Variablen zuordnen. Damit kann dann wieder gerechnet werden!

In [34]:
df_filter = df[checkouts > 10000]
df_filter['Age Range'].value_counts(normalize=False)

65 to 74 years       12
45 to 54 years        6
60 to 64 years        6
35 to 44 years        2
55 to 59 years        2
20 to 24 years        1
0 to 9 years          1
75 years and over     1
Name: Age Range, dtype: int64

---
# Tutorial - Datensätze grupieren

Mit der `group_by` Funktion können Datensätze nach den Werten in einer bestimmten Spalte gruppiert werden. Der gruppierte Datensatz kann dann in einer Variablen zwischengespeichert werden. Mit ihm lässt sich rechnen wie bisher:

In [45]:
df_grouped = df.groupby('Patron Type Definition')
checkouts = df_grouped['Total Checkouts']
checkouts.sum()

Patron Type Definition
ADULT                  37260254
AT USER ADULT             68594
AT USER JUVENILE           3901
AT USER SENIOR            14151
AT USER TEEN               4040
AT USER WELCOME            1182
BOOKS BY MAIL             34289
DIGITAL ACCESS CARD        6413
FRIENDS FOR LIFE          15939
JUVENILE               10190792
RETIRED STAFF            159409
SENIOR                 12710879
SPECIAL                  303145
STAFF                    774349
TEACHER CARD             136360
VISITOR                    6155
WELCOME                   54158
YOUNG ADULT             6846985
Name: Total Checkouts, dtype: int64

In [47]:
checkouts.mean().round()

Patron Type Definition
ADULT                   137.0
AT USER ADULT           197.0
AT USER JUVENILE         83.0
AT USER SENIOR          214.0
AT USER TEEN             92.0
AT USER WELCOME          26.0
BOOKS BY MAIL           361.0
DIGITAL ACCESS CARD       4.0
FRIENDS FOR LIFE        398.0
JUVENILE                172.0
RETIRED STAFF          1015.0
SENIOR                  305.0
SPECIAL                 310.0
STAFF                   898.0
TEACHER CARD             77.0
VISITOR                  15.0
WELCOME                   4.0
YOUNG ADULT             238.0
Name: Total Checkouts, dtype: float64